body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #c5e6cc;
}

#userDataDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-card {
    background-color: #ffffff;
    padding: 30px;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(24% - 2%);
    max-width: calc(24% - 2%);
}

.user-card h2 {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    background-color: #168838;
    padding: 15px 10px;
    margin: 0;
}

.user-card p {
    font-size: 0.9em;
    color: #555;
}

.address h3,
.company h3 {
    font-size: 1em;
    color: #168838;
    border-bottom: 1px solid rgb(212, 216, 216);
    padding-bottom: 5px;
    margin-top: 20px;
}


@media screen and (max-width: 1200px) {
    .user-card {
        flex: 0 0 calc(40% - 2%);
        max-width: calc(40% - 2%);
    }
}

@media screen and (max-width: 480px) {
    #userDataDisplay {
            display: block;
        }
    .user-card {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchField {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 60%;
    max-width: 400px;
    font-size: 1em;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#searchField::placeholder {
    color: #888;
}

#searchField:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.container h1 {
 text-align: center;
}