body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #c5e6cc;
}

#userDataDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
}

.user-card {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.user-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.user-card h2 {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    background-color: #168838;
    padding: 15px 10px;
    margin: 0;
}

.user-card p {
    font-size: 0.9em;
    color: #555;
}

.address h3,
.company h3 {
    font-size: 1em;
    color: #168838;
    border-bottom: 1px solid rgb(212, 216, 216);
    padding-bottom: 5px;
    margin-top: 20px;
}


@media screen and (max-width: 1200px) {
    #userDataDisplay {
            grid-template-columns: 1fr 1fr;
        }
}

@media screen and (max-width: 480px) {
    #userDataDisplay {
            display: block;
        }
    .user-card {
        max-width: 100%;
        margin: 20px 0;
    }
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchField {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 60%;
    max-width: 400px;
    font-size: 1em;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    flex-grow: 1;
}

#searchField::placeholder {
    color: #888;
}

#searchField:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.container h1 {
 text-align: center;
}

.sortbuttons {
    text-align: center;
}

.sortbuttons button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #333;
}

.sortbuttons button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9  );
}

.sortbuttons button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.message {
    width: 100%;
    text-align: center;
    margin: 20px 0px 10px 0px;
    padding: 10px;
    background-color: #ffffff84;
}